<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    {{{body}}}

    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src='/javascripts/indexView.js'></script>

  </body>

</html>
